@import "@/styles/abstracts/functions";

.projectContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  gap: 5px;

  p {
    font-size: rem(12px);
  }
}

.roleAndWorkType {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  font-size: rem(10px);
  justify-content: space-between;
}

.role {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.thumbnailContainer {
  background-color: $background;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 180px;

  img {
    height: 180px;
  }
}

.githubLink {
  margin-left: 4px;
}

.title {
  margin-top: 5px;

    a {
      color: $primary;
      text-decoration: none;
    }

    a:hover {
      color: $accent;
    }

    a:hover:global {
      animation: colorPrimaryToAccent 0.3s;
    }
}

.techStackContainer {
  margin-top: 5px;
  width: 100%;

  li {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 5px;
    margin-right: 9px;
    font-size: rem(10px);
    border-radius: rem(8px);
    border: 1px solid $tertiary;
  }
}
