@font-face {
  font-family: "LeonSans";
  src: url("../static/fonts/leonsans/leon-sans-fonts/LeonSans-Medium.woff2")
      format("woff2"),
    url("../static/fonts/leonsans/leon-sans-fonts/LeonSans-Medium.woff")
      format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "KopubworldBatang";
  src: url("../static/fonts/kopubworld/KoPubWorld\ Batang_Pro\ Medium_Subset.woff2")
      format("woff2"),
    url("../static/fonts/kopubworld/KoPubWorld\ Batang_Pro\ Medium_Subset.woff")
      format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: url("../static/fonts/Pretendard/files/static/Pretendard-Medium-Subset.woff2")
      format("woff2"),
    url("../static/fonts/Pretendard/files/static/Pretendard-Medium-Subset.woff")
      format("woff");
  font-display: fallback;
}

html {
  font-family: "KopubworldBatang", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeonSans", "Pretendard", serif;
}
