@font-face {
  font-family: "LeonSans";
  font-display: swap;
  src: url("/fonts/leonsans/leon-sans-fonts/LeonSans-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "KopubworldBatang";
  font-display: swap;
  src: url("/fonts/kopubworld/KoPubWorld\ Batang_Pro\ Medium_Subset.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url("/fonts/Pretendard/files/static/Pretendard-Medium-Subset.woff2")
    format("woff2");
}

html {
  font-family: "KopubworldBatang", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeonSans", "Pretendard", serif;
}
