@import "../../styles/abstracts/functions";
@import "../../styles/base/layout";

.mainContainer {
  padding: rem(80px) rem(20px) 0;
}

section {
  margin: 0 20%;
  font-size: rem(14px);
  line-height: 1.5;

  @include tablet-lg {
    margin: 0 10px;
  }
}

.name {
  margin: 80px auto 0;
  text-align: center;
  font-size: rem(40px);
  font-weight: 500;
}

.profile {
  text-align: center;
  margin: 20px auto 60px;
}

.introduce {
  margin-top: 80px;

  p {
    margin-top: 10px;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: rem(20px);
    margin-top: 10px;
  }

  li {
    list-style: none;
  }

  a {
    color: theme-color("primary", "base");
    text-decoration: none;
  }

  a:hover {
    animation-duration: 0.3s;
    animation-name: colorBlackToRed;
    color: theme-color("accent", "base");
  }
}

.contact {
  margin-top: 10px;

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    gap: 20px;
    list-style: none;
  }
}

.footerContainer {
  padding: rem(40px) rem(20px);
}

@keyframes colorBlackToRed {
  from {
    color: theme-color("primary", "base");
  }

  to {
    color: theme-color("accent", "base");
  }
}
