@import "../../styles/abstracts/functions";
@import "../../styles/base/layout";

.mainContainer {
  padding: rem(80px) rem(20px) 0;
  margin: 0 20%;

  @include tablet-lg {
    margin: 0 10px;
  }

  section {
    font-size: rem(14px);
    line-height: 1.5;
  }
}

.introduce {
  margin-top: 60px;

  p {
    margin-top: 10px;
  }

  li {
    list-style: none;
  }

  a {
    color: $primary;
    text-decoration: none;
  }

  a:hover {
    color: $accent;

    :global {
      animation: colorPrimaryToAccent 0.3s;
    }
  }
}

.nameContainer {
  margin: 80px auto 0;
  text-align: center;
}

.name {
  font-size: rem(40px);
  font-weight: 500;
  font-family: "LeonSans", "Pretendard", sans-serif;
  color: $primary;
}

.profilePhoto {
  text-align: center;
  margin: 20px auto 20px;
}

.role {
  font-size: 1.17em;
  font-weight: 700;
  font-family: "LeonSans", "Pretendard", sans-serif;
  color: $primary;
}

.RoleDescriptionContactContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contactContainer {
  margin-top: 40px;

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    gap: 20px;
  }
}
