@import "../abstracts/functions";
@import "../base/layout";

.mainContainer {
  padding: rem(80px) rem(20px) 0;
}

.postsContainer {
  margin: 80px 20% 0;

  @include tablet-lg {
    margin: 80px 10px 0;
  }
}

.post {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;

  @include tablet-sm {
    flex-flow: column nowrap;
  }
}

.postImage {
  width: 150px;
  height: 150px;

  @include tablet-sm {
    width: 300px;
    height: 300px;
  }
}

.thumbnailNotUploaded {
  width: 150px;
  height: 150px;

  @include tablet-sm {
    width: 300px;
    height: 300px;
  }
}

.postCaption {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  font-size: rem(14px);

  h2 {
    a {
      color: $primary;
      text-decoration: none;
    }

    a:hover {
      animation-duration: 0.3s;
      animation-name: colorBlackToRed;
      color: $accent;
    }
  }
}

.date {
  color: $tertiary;
}

.pageNavContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  list-style: none;
  margin-top: 40px;
  color: transparent;
  font-size: rem(12px);

  li {
    width: rem(30px);
    height: rem(15px);
  }

  a {
    display: inline-block;
    color: $primary;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  a:hover {
    animation-duration: 0.3s;
    animation-name: colorBlackToRed;
    color: $accent;
  }
}

.currentPage {
  color: $accent;
  font-size: rem(20px);
}

.footerContainer {
  padding: rem(40px) rem(20px);
}

@keyframes colorBlackToRed {
  from {
    color: $primary;
  }

  to {
    color: $accent;
  }
}
