@import "../styles/abstracts/functions";
@import "../styles/base/layout";

.searchContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.searchFormContainer {
  position: relative;
}

.closeSearchButton {
  position: absolute;
  top: 0;
  left: -15vw;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.input {
  width: 360px;
  height: rem(50px);
  font-size: rem(32px);
  background-color: transparent;
  border: transparent;
  outline: none;
  text-shadow: rem(6px) 0 10px $background, rem(-6px) 0 10px $background;
  color: $primary;
  text-indent: 20px;

  @include tablet-lg {
    width: 290px;
    font-size: rem(25px);
  }

  @include tablet-sm {
    width: 230px;
    font-size: rem(20px);
  }
}

.input::placeholder {
  color: $secondary;
}

.resultsContainer {
  h3 {
    margin: 20px auto;
    text-align: center;
  }
}

.resultList {
  display: flex;
  flex-flow: column nowrap;
  width: 40vw;
  height: 60vh;
  overflow: auto;
  list-style: none;
  gap: 3vh;
  padding: 7px 15px 0;
  line-height: 110%;

  @include tablet-sm {
    width: rem(300px);
  }
}

.resultList::-webkit-scrollbar {
  width: 13px;
}

.resultList::-webkit-scrollbar-track {
  border: 2px transparent $background;
}

.resultList::-webkit-scrollbar-thumb {
  background-color: $tertiary;
  background-clip: padding-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.resultList::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 2px;
}

.resultList::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 2px;
}

.linkToPost {
  color: $primary;
  text-decoration: none;
}

.linkToPost:hover {
  color: $accent;

  :global {
    animation: colorPrimaryToAccent 0.3s;
  }
}

.resultExcerpt {
  margin-top: 5px;
  font-size: rem(12px);
}

.resultPageNavContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
  font-size: rem(20px);
  color: $primary;
}

.pageNavButton {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: transparent;
  background-color: transparent;
  font-size: rem(12px);
  color: $primary;
  cursor: pointer;

  &:hover {
    color: $accent;
  }

  &:hover:global {
    animation: colorPrimaryToAccent 0.3s;
  }

  &:disabled {
    color: transparent;
    cursor: default;
  }

  &:disabled:hover {
    animation-name: none;
  }
}

.noResultText {
  margin-top: 10px;
  font-size: rem(18px);
  text-align: center;
}
