@import "../styles/abstracts/functions";

.themeList {
  position: relative;
  top: 30px;
  list-style: none;
  font-size: rem(14px);
  z-index: 1;

  button {
    text-shadow: rem(6px) 0 10px $background, rem(-6px) 0 10px $background,
      rem(6px) 0 10px $background, rem(-6px) 0 10px $background;
  }

  button:hover {
    color: $accent;

    :global {
      animation: colorPrimaryToAccent 0.3s;
    }
  }

  button.isSelected {
    animation: none;
  }
}

.osThemeButton {
  position: absolute;
  top: -7px;
  right: 45px;
  background-color: transparent;
  border: transparent;
  color: $primary;
  white-space: nowrap;
  cursor: pointer;
}

.lightThemeButton {
  color: $primary;
  position: absolute;
  top: 15px;
  right: 50px;
  background-color: transparent;
  border: transparent;
  color: $primary;
  cursor: pointer;
}

.darkThemeButton {
  position: absolute;
  top: 37px;
  right: 50px;
  background-color: transparent;
  border: transparent;
  color: $primary;
  cursor: pointer;
}

.isSelected {
  color: $accent;
  cursor: default;
}
