@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=Jua&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.gnb {
    position: fixed;
    width: 100%;
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 8px 1px  gainsboro;
}

.lnb-dropdown {
    position: relative;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 2.5rem;
}

.lnb-hamburger-icon {
    width: 3rem;
    height: 2.5rem;
}

.lnb-dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    top: -2.1rem;
    min-width: 160px;
    width: 18rem;
    border-radius: 3rem;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.lnb-dropdown:hover .lnb-dropdown-content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.05s;
    transition-duration: 0.5s;
}

.lnb-dropdown-content-1, .lnb-dropdown-content-2, .lnb-dropdown-content-3, .lnb-dropdown-content-4, .lnb-dropdown-content-5 {
    padding: 2rem 2rem;
    font-size: 2rem;
    font-weight: 1000;
    color: black;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.lnb-dropdown-content-1:hover {
    animation: lnb-dropdown-content-hover 1s forwards;
    border-radius: 3rem 3rem 0 0;
}

.lnb-dropdown-content-2:hover, .lnb-dropdown-content-3:hover, .lnb-dropdown-content-4:hover {
    animation: lnb-dropdown-content-hover 1s forwards;
}

.lnb-dropdown-content-5:hover {
    animation: lnb-dropdown-content-hover 1s forwards;
    border-radius: 0 0 3rem 3rem;
}

@keyframes lnb-dropdown-content-hover {
    0% {
        background-color: #f9f9f9;
    }

    100% {
        background-color: rgb(197, 197, 197)
    }
}

.gnb-brand-name, .gnb-brand-name:hover {
    position: absolute;
    top: 1.5rem;
    left: 44%;
    width: 14.5rem;
    font-family: 'Hahmlet', serif;
    font-family: 'Jua', sans-serif;
    font-size: 2.8rem;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    overflow: hidden;
}

.main {
    padding-top: 10rem;
    font-size: 1.4rem;
}

/* .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

.desc {
    padding: 15px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
  } */