@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=Jua&display=swap');

html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/* gnb */

#gnb {
    position: fixed;
    width: 100%;
    height: 7rem;
    top: 0;
    left: 0;
    z-index: 900;
    /* background-color: white; */
    /*
    이전 gnb 디자인
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 8px 1px  gainsboro; */
}

/* gnb brand name */

#gnb-brand-name, #gnb-brand-name:hover {
    position: absolute;
    padding: 2rem 0 0 2rem;
    width: 8rem;
    line-height: 2rem;
    font-family: 'Hahmlet', serif;
    font-family: 'Jua', sans-serif;
    font-size: 2.6rem;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

/* gnb dropdown menu */

#gnb-dropdown {
    position: absolute;
    padding: 2rem 5rem 0 0;
    right: 0;
    width: 3rem;
    height: 2.5rem;
}

#gnb-hamburger-icon {
    width: 3rem;
    height: 2.5rem;
}

.gnb-dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 18rem;
    border-radius: 2.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);;
    transition-property: opacity, visibility;
    transition-delay: 0.05s;
    transition-duration: 0.3s;
}

#gnb-dropdown:hover .gnb-dropdown-content {
    visibility: visible;
    opacity: 1;
}

.gnb-dropdown-content-1, .gnb-dropdown-content-2, .gnb-dropdown-content-3, .gnb-dropdown-content-4, .gnb-dropdown-content-5 {
    padding: 2rem 2rem;
    font-size: 2rem;
    font-weight: 1000;
    color: black;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
}

@keyframes gnb-dropdown-content-hover {
    0% {
        background-color: #f9f9f9;
    }

    100% {
        background-color: rgb(197, 197, 197)
    }
}

.gnb-dropdown-content-1:hover {
    animation: gnb-dropdown-content-hover 1s forwards;
    border-radius: 2.5rem 2.5rem 0 0;
}

.gnb-dropdown-content-2:hover, .gnb-dropdown-content-3:hover, .gnb-dropdown-content-4:hover {
    animation: gnb-dropdown-content-hover 1s forwards;
}

.gnb-dropdown-content-5:hover {
    animation: gnb-dropdown-content-hover 1s forwards;
    border-radius: 0 0 2.5rem 2.5rem;
}

/* main */

#wrapper {
    position: relative;
    text-align: left;
    width: 100%;
    margin: 7rem auto 0;
    overflow: hidden;
}

#container {
    position: relative;
    margin: 0 auto;
    max-width: 120rem;
    padding: 5rem 4rem 0;
}

@media (min-width: 120rem) {
    #container {
        max-width: 120rem;
    }
}

p {
    font-size: 1.4rem;
}


/*
dropdown 레퍼런스
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

.desc {
    padding: 15px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
  } */