@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=Jua&display=swap');

body {
    margin: 0;
}






/* 
.tnb {
    position: fixed;
    width: 100vw;
    height: 25px;
    padding: 22px;
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 8px 1px  gainsboro;
}

.tnb-brand-name {
    position: fixed;
    height: 32px;
    margin-left: 40vw;
    font-family: 'Hahmlet', serif;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

.tnb-Menu-button{
    position: fixed;
    height: 32px;
} */