$primary: var(--primary-color, #111);
$secondary: var(--secondary-color, #666);
$tertiary: var(--tertiary-color, #aaa);
$accent: var(--accent-color, #ee0606);
$foreground: var(--foreground-color, #dcdcdc);
$background: var(--background-color, #fff);

$config: (
  default: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    accent: $accent,
    foreground: $foreground,
    background: $background,
  ),
  dark: (
    primary: #eee,
    secondary: #ccc,
    tertiary: #aaa,
    accent: #ffff50,
    foreground: #434343,
    background: #1b1b1b,
  ),
);

@mixin setTheme($key) {
  --primary-color: #{setColor($config, $key, primary)};
  --secondary-color: #{setColor($config, $key, secondary)};
  --tertiary-color: #{setColor($config, $key, tertiary)};
  --accent-color: #{setColor($config, $key, accent)};
  --foreground-color: #{setColor($config, $key, foreground)};
  --background-color: #{setColor($config, $key, background)};
}

// 배경 투명도 설정을 위해 rgba() 사용이 필요하지만, rgba()에 테마 변수 사용이 불가하므로(변수를 사용하려면, 변수에 rgb()의 숫자만 값으로 할당해야 함) 아래 코드를 사용.
@mixin setHeaderBg($theme) {
  @if ($theme == default) {
    background-color: rgba($color: #fff, $alpha: 0.7);
  } @else if ($theme == dark) {
    background-color: rgba($color: #1b1b1b, $alpha: 0.7);
  }
}

@mixin setImgInvert($theme) {
  @if ($theme == dark) {
    filter: invert(100%);
  }
}

@mixin setDisplayedCursorDotBg($theme) {
  @if ($theme == dark) {
    filter: invert(100%);
  }
}
