@use "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "KopubworldBatang", serif;
  color: #666;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  border: 2px transparent #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: padding-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 0.5rem;
}

body::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeonSans", "Pretendard", sans-serif;
  color: #111;
}
