@use "./typography";
@import "../abstracts/functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: $background;
  background-color: $accent;
}

body {
  min-height: 100vh;
  font-family: "KopubworldBatang", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary;
  background-color: $background;
}

body.noCursor,
body.noCursor a,
body.noCursor button {
  cursor: none;
}

@each $theme in default, dark {
  body.#{$theme}-theme {
    @include setTheme($theme);

    header[class*="Header"] {
      @include setHeaderBg($theme);
    }

    *[data-invert] {
      img {
        @include setImgInvert($theme);
      }
    }

    div[class*="displayedCursorDot"] {
      @include setDisplayedCursorDotBg($theme);
    }
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border: 2px transparent $background;
}

body::-webkit-scrollbar-thumb {
  background-color: $tertiary;
  background-clip: padding-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 1px;
}

body::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeonSans", "Pretendard", sans-serif;
  color: $primary;
}

h2 {
  font-size: 1.2em;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover {
  animation: colorAccentToPrimary 0.3s;
  color: $primary;
}
