@import "../styles/abstracts/functions";

.header {
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 10px $foreground;
  backdrop-filter: blur(4px) grayscale(100%);
  z-index: 10;
  text-shadow: rem(6px) 0 10px $background, rem(-6px) 0 10px $background;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border: 2px transparent $background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary;
    background-clip: padding-box;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
    height: 1px;
  }

  &::-webkit-scrollbar-button:vertical:end:decrement {
    display: block;
    height: 1px;
  }
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: rem(80px);
  padding: rem(20px) 0;
}

.logo {
  font-family: "LeonSans", "Pretendard", sans-serif;
  margin-left: rem(20px);
  font-size: rem(12px);

  a {
    color: $primary;
  }

  a:hover {
    color: $accent;

    :global {
      animation: colorPrimaryToAccent 0.3s;
    }
  }
}

.menuWrapper {
  margin: auto;

  a {
    font-family: "LeonSans", "Pretendard", sans-serif;
    font-size: rem(14px);
    color: $primary;
  }

  a:hover {
    color: $accent;

    :global {
      animation: colorPrimaryToAccent 0.3s;
    }
  }

  .colorRed,
  .colorRed:hover {
    color: $accent;
    animation: none;
  }
}

.menuContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: rem(20px);
  list-style: none;
}

.blogMenu {
  position: relative;
}

.blogSubmenuContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: rem(10px);
  position: absolute;
  top: rem(20px);
  left: rem(-15px);
  list-style: none;

  a {
    font-size: rem(12px);
  }
}

.sideMenuContainer {
  position: relative;
  margin-right: rem(5px);
}

.sideMenuButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
