@import "../styles/abstracts/functions";

.header {
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 10px $foreground;
  background-color: rgba($color: $background, $alpha: 0.6);
  backdrop-filter: blur(4px);
  z-index: 10;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: rem(80px);
  padding: rem(20px) 0;
}

.logo {
  font-family: "LeonSans", "Pretendard", sans-serif;
  margin-left: rem(20px);
  text-decoration: none;
  color: $primary;
  font-size: rem(12px);
}

.logo:hover {
  animation-duration: 0.3s;
  animation-name: colorPrimaryToAccent;
  color: $accent;
}

.menuContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: rem(20px);
  margin: auto;
  list-style: none;

  a {
    text-decoration: none;
    font-family: "LeonSans", "Pretendard", sans-serif;
    font-size: rem(14px);
    color: $primary;
  }

  a:hover {
    animation-duration: 0.3s;
    animation-name: colorPrimaryToAccent;
    color: $accent;
  }

  .colorRed,
  .colorRed:hover {
    color: $accent;
    animation: none;
  }
}

.blogMenu {
  position: relative;
}

.blogSubmenuContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: rem(10px);
  position: absolute;
  top: rem(20px);
  left: rem(-15px);
  list-style: none;

  a {
    font-size: rem(12px);
    color: $secondary;
  }
}

.sideMenuContainer {
  position: relative;
  margin-right: rem(20px);
}

.sideMenuButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

@keyframes colorPrimaryToAccent {
  from {
    color: $primary;
  }

  to {
    color: $accent;
  }
}
