@import "../styles/abstracts/functions";

.navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  padding: rem(20px) 0;
  width: 100%;
  height: rem(80px);
  box-shadow: 0 1px 10px whitesmoke;
  background-color: rgba(
    $color: theme-color("background", "base"),
    $alpha: 0.6
  );
  backdrop-filter: blur(4px);
  z-index: 10;
}

.logo {
  margin-left: rem(20px);
}

.menuContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: rem(20px);
  margin: auto;
  list-style: none;

  a {
    text-decoration: none;
    font-family: "LeonSans", "Pretendard", sans-serif;
    color: theme-color("primary", "base");
  }

  a:hover {
    animation-duration: 0.3s;
    animation-name: colorBlackToRed;
    color: theme-color("accent", "base");
  }

  .colorRed,
  .colorRed:hover {
    color: theme-color("accent", "base");
    animation: none;
  }
}

.blogMenu {
  position: relative;
}

.blogSubmenuContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: rem(10px);
  position: absolute;
  top: rem(25px);
  left: rem(-15px);
  list-style: none;
  font-size: rem(12px);
}

.search {
  margin-right: rem(20px);
}

.hide {
  display: none;
}

@keyframes colorBlackToRed {
  from {
    color: theme-color("primary", "base");
  }

  to {
    color: theme-color("accent", "base");
  }
}
